#header {
  background-color: #283367;
  padding: 20px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 5;
  .header_container {
    max-width: 1140px;
    margin: auto;
    .header_content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        img {
        }
      }
      nav {
        ul {
          display: flex;
          align-items: center;
          gap: 30px;
          li{
            a{
              color: white;
            }
          }
        }
      }
    }
  }
}
